In [9]:
import pandas as pd
import numpy as np
import geopandas as gpd

In [10]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [11]:
housing_data = pd.read_csv("housing_values.csv")
housing_data.head()

,Neighborhood,Id,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Margin of Error; Total: - $15,000 to $19,999",...,"Estimate; Total: - $500,000 to $749,999","Margin of Error; Total: - $500,000 to $749,999","Estimate; Total: - $750,000 to $999,999","Margin of Error; Total: - $750,000 to $999,999","Estimate; Total: - $1,000,000 to $1,499,999","Margin of Error; Total: - $1,000,000 to $1,499,999","Estimate; Total: - $1,500,000 to $1,999,999","Margin of Error; Total: - $1,500,000 to $1,999,999","Estimate; Total: - $2,000,000 or more","Margin of Error; Total: - $2,000,000 or more"
0,Allegheny Center,1,72.0,28.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,...,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000
1,Allegheny West,2,69.0,31.000000,4.0,7.000000,0.0,10.000000,0.0,10.000000,...,0.0,10.000000,0.0,10.000000,11.0,17.000000,0.0,10.000000,0.0,10.000000
2,Allentown,3,538.0,112.769677,45.0,33.734256,19.0,21.118712,22.0,26.153394,...,6.0,16.763055,0.0,17.320508,0.0,17.320508,0.0,17.320508,0.0,17.320508
3,Arlington,4,492.0,84.433406,12.0,16.186414,29.0,27.513633,5.0,16.248077,...,7.0,17.916473,0.0,17.320508,3.0,15.779734,0.0,17.320508,0.0,17.320508
4,Arlington Heights,5,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,...,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000,0.0,10.000000

In [12]:
data_map = housing_data['Estimate; Total:']>100
data = housing_data[data_map]
data.head()

,Neighborhood,Id,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Margin of Error; Total: - $15,000 to $19,999",...,"Estimate; Total: - $500,000 to $749,999","Margin of Error; Total: - $500,000 to $749,999","Estimate; Total: - $750,000 to $999,999","Margin of Error; Total: - $750,000 to $999,999","Estimate; Total: - $1,000,000 to $1,499,999","Margin of Error; Total: - $1,000,000 to $1,499,999","Estimate; Total: - $1,500,000 to $1,999,999","Margin of Error; Total: - $1,500,000 to $1,999,999","Estimate; Total: - $2,000,000 or more","Margin of Error; Total: - $2,000,000 or more"
2,Allentown,3,538.0,112.769677,45.0,33.734256,19.0,21.118712,22.0,26.153394,...,6.0,16.763055,0.0,17.320508,0.0,17.320508,0.0,17.320508,0.0,17.320508
3,Arlington,4,492.0,84.433406,12.0,16.186414,29.0,27.513633,5.0,16.248077,...,7.0,17.916473,0.0,17.320508,3.0,15.779734,0.0,17.320508,0.0,17.320508
5,Banksville,6,985.0,139.728308,26.0,35.510562,0.0,20.000000,0.0,20.000000,...,0.0,20.000000,0.0,20.000000,17.0,31.240999,0.0,20.000000,0.0,20.000000
7,Beechview,8,2065.0,199.682248,0.0,31.622777,0.0,31.622777,0.0,31.622777,...,0.0,31.622777,7.0,31.953091,0.0,31.622777,0.0,31.622777,0.0,31.622777
8,Beltzhoover,9,556.0,129.988461,4.0,18.330303,19.0,25.495098,45.0,42.261093,...,0.0,20.000000,0.0,20.000000,0.0,20.000000,0.0,20.000000,0.0,20.000000

In [13]:
avgs = {}
for i in range(0, len(data)):
    increments = [8999,4999, 4999, 4999, 4999, 4999, 4999, 9999, 9999, 9999, 9999, 9999, 9999, 24999, 24999, 24999, 24999, 49999, 49999, 99999, 99999, 249999, 249999, 499999, 499999, 499999]
    currPrice = 1000
    low = 0
    high = 0
    for j in range(4, len(data.iloc[i]), 2):
        low += currPrice*data.iloc[i][j]
        currPrice += increments.pop(0)
        high += currPrice*data.iloc[i][j]
        currPrice += 1
    low = float('%.2f'%(low/data.iloc[i][2]))
    high = float('%.2f'%(high/data.iloc[i][2]))
    avgs[data.iloc[i][0]] = [low, high]

In [14]:
import operator
sorted_avgs = dict(sorted(avgs.items(), key=operator.itemgetter(1)))

In [15]:
avg_housing_df = pd.DataFrame(list(sorted_avgs.items()), columns = ['Neighborhoods','Average Housing Cost Range'])
print(avg_housing_df)

                Neighborhoods Average Housing Cost Range
0                   Allentown        [40000.0, 50556.62]
1                     Larimer       [41046.73, 49298.07]
2              Homewood North        [41768.52, 50045.3]
3                 Beltzhoover       [46679.86, 56329.94]
4                   Knoxville       [47168.85, 57217.59]
..                        ...                        ...
68  Central Business District     [273690.18, 366056.93]
69        Squirrel Hill South     [299211.93, 395514.55]
70               Point Breeze     [302162.05, 396058.77]
71                  Shadyside      [314449.9, 418813.57]
72        Squirrel Hill North     [446713.78, 601104.74]

[73 rows x 2 columns]